include four_d_ct_cost_unrolling/src/configs/backbone_default_configs.json
include four_d_ct_cost_unrolling/src/configs/w_segmentation_default_configs.json
include four_d_ct_cost_unrolling/src/configs/w_constraints_default_configs.json
include four_d_ct_cost_unrolling/src/checkpoints/4DCT_best_w_admm_ckpt.pth.tar
